.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

.photograph-header .photograph-header__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.photograph-header .photograph-header__content h2 {
	color: #d3573c;
	font-size: 60px;
	font-weight: 400;
	padding-top: 0.3em;
	text-align: center;
}

.photograph-header .photograph-header__content .photograph-header__location {
	color: #901c1c;
	font-size: 24px;
	padding: 0.6em;
}

.photograph-header .photograph-header__tag {
	color: #525252;
	font-size: 18px;
	padding: 0.6em;
}

.photograph-header .photograph-header__imgCont {
	border-radius: 50%;
	padding: 0.6em;
}

.photograph-header .photograph-header__imgCont img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: auto;
	display: block;
}

.photograph-header .contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 1.1em;
	margin-bottom: 1.5em;
}

.photograph-header .photograph-header__info {
	background-color: #db8876;
	border-radius: 5px;
	padding: 1.41em 1.8em;
	width: 100%;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}

.photograph-header .photograph-header__likes {
	display: flex;
	align-items: center;
}

.photograph-header .photograph-header__likes span {
	display: block;
	width: fit-content;
}

.photograph-header .photograph-header__likes img {
	margin-left: 0.5em;
	max-width: 24px;
}

/*   PHTOTOGRAPH MEDIA   */

.photograph-media {
	margin-top: 21em;
}

.photograph-media .photograph-media__thumbnails {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 0.2em;
	padding-right: 0.2em;
	position: relative;
}

.photograph-media .photograph-media__thumbTitle {
	font-weight: bold;
	display: flex;
	position: relative;
}

.photograph-media .photograph-media__thumbTitle SPAN {
	padding-top: 0.4em;
}

.photograph-media .photograph-media__thumbTitle ul {
	color: white;
	background-color: #901c1c;
	padding: 0.6em 1em;
	border-radius: 5px;
	overflow-y: hidden;
	height: 52px;
	transition: height 450ms ease-in-out;
	z-index: 10;
	position: absolute;
	left: 4.8em;
}

.photograph-media .photograph-media__thumbTitle .open-list {
	height: 125px;
}

.photograph-media .photograph-media__thumbTitle li {
	padding: 0.5em;
	font-weight: 400;
	border-bottom: 1px solid transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.photograph-media .photograph-media__thumbTitle .open-item {
	transform: rotate(180deg);
	padding-right: 1.5em;
	padding-left: 0;
}

.photograph-media .photograph-media__thumbTitle li img {
	padding-left: 1.5em;
	transform: rotate(0);
	transition: all 450ms ease-in-out;
}

.photograph-media__scroller {
	display: flex;
	flex-wrap: wrap;
	gap: 4.5%;
	justify-content: center;
	margin-top: 3.5em;
	align-items: center;
}

.photograph-media__scroller .photograph-media__card {
	width: 100%;
	max-width: 347px;
	max-height: 296px;
	margin-top: 1.3em;
}

.photograph-media__scroller .carousel-item__imgContainer {
	aspect-ratio: 7/5;
}

.photograph-media__card .photograph-media__imgCont {
	max-width: 350px;
}

.photograph-media__card .photograph-media__imgCont img {
	border-radius: 5px;
	object-fit: cover;
	min-width: 451px;
}

.photograph-media__scroller .photo-media__text {
	display: flex;
	align-items: center;
	padding: 0.4em 0.5em;
	justify-content: space-between;
	color: #901c1c;
}

.photograph-media__scroller .photo-media__text button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 4px 7px 1px 7px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photograph-media__scroller .photo-media__text button:hover {
	background-color: rgba(255, 192, 203, 0.329);
}

.photograph-media__scroller .photo-media__text button:hover > img {
	transform: scale(1.1);
}

.photograph-media__scroller .photo-media__text button:active {
	background-color: rgba(255, 192, 203, 0.89);
}

.photograph-media__scroller .photo-media__text img {
	width: 20px;
	transition: all 150ms ease-in-out;
}

.photograph-media__scroller .photo-media__text div {
	font-weight: bold;
	font-size: 1.3em;
	display: flex;
	gap: 0.3em;
}
