.full_screen_media {
	position: fixed;
	z-index: 50;
	background-color: white;
	width: 100%;
	height: 100vh;
	/* display: flex; */
	display: none;
	justify-content: center;
	top: 0;
	left: 0;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.full_screen_media__carousel {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0.2em;
	margin-top: 0.5em;
	width: 100%;
	max-width: 1253px;
}

.full_screen_media__carousel-inner {
	position: relative;
	overflow: hidden;
	min-width: 82%;
	height: fit-content;
}

.carousel-item {
	position: relative;
	display: none;
	transition: transform 0.6s ease-in-out;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
}

.carousel-item__imgContainer {
	max-height: 900px;
	overflow: hidden;
	max-width: 1050px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	aspect-ratio: 7/5;
}

.carousel-item p {
	color: #901c1c;
	padding-top: 0.2em;
	font-size: 24px;
}

.carousel-item-active {
	display: block;
}

.carousel-item-move {
	transform: translateX(-100%);
}

.full_screen_media img {
	display: block;
	max-width: 1050px;
}

.full_screen_media__btn {
	position: absolute;
	right: 0.5em;
	top: 45%;
	transform: translateY(-50%);
	background-color: rgb(255, 255, 255, 0.25);
	border: none;
	width: 20px;
	padding: 0.5em 0.2em;
	z-index: 50;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.carousel-item video {
	margin: auto;
	display: block;
}

.full_screen_media__btn-left {
	left: 0.5em;
	transform: rotate(180deg);
	top: 42.1%;
}

.full_screen_media__btn-close {
	top: 2px;
	width: 35px;
	right: 2px;
	padding: 0.2em;
	transform: none;
}

.full_screen_media__btn:hover {
	background-color: rgb(0, 0, 0, 0.2);
}
