@import url('header.css');
@import url('photographer_section.css');
@import url('photographer.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

@media (min-width: 768px) {
	.header {
		align-items: flex-start;
		margin: 0 100px 40px 100px;
	}
	.photographer_section {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 70px;
		margin-top: 100px;
	}

	.photographer_section article img {
		height: 200px;
		width: 200px;
	}

	.photographer_section article h2 {
		font-size: 4.08473vh;
	}
	.photograph-header {
		margin: 0 100px;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 2em;
	}
	.photograph-header .photograph-header__content {
		min-width: 290px;
		align-items: start;
	}

	.photograph-header .photograph-header__info {
		position: fixed;
		bottom: 1.5em;
		right: 0;
		max-width: 380px;
	}
	.photograph-media {
		margin-top: 2em;
	}

	.photograph-media .photograph-header__thumbnails {
		justify-content: flex-start;
		width: auto;
		margin: 40px 100px;
	}

	.photograph-media .photograph-header__thumbTitle {
		align-items: start;
	}
	.photograph-media .photograph-header__thumbTitle span {
		padding-top: 0.4em;
	}

	.photograph-media .photograph-media__thumbnails {
		padding: 10px 100px;
	}

	.photograph-media__card .photograph-media__imgCont {
		width: 24.304vw;
		aspect-ratio: 7/6;
	}

	.full_screen_media__carousel {
		padding: 0.2em;
	}

	.full_screen_media__carousel-inner {
		aspect-ratio: 14/12;
	}

	.full_screen_media__btn {
		width: 96px;
	}
}
