@import url('header.css');
@import url('photographer_section.css');
@import url('photographer.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

@media (min-width: 768px) {
	.photographer_section {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 70px;
		margin-top: 100px;
	}

	.photographer_section article img {
		height: 200px;
		width: 200px;
	}

	.photographer_section article h2 {
		font-size: 5.444vh;
	}
	.photograph-header {
		margin: 0 100px;
	}
}
